.heading {
padding-top : 80px;
}
.heading h2 {
font-weight : 400;
font-family : Monospace;
font-size : 35px;
color : #333;
}
.restmenuwrap {
box-shadow : 0 0 0 16px #fff inset, 0 0 0 17px #eee inset, 0 0 0 18px #fff inset, 0 0 0 19px #eee inset, 0 0 0 20px #fff inset, 0 0 0 21px #eee inset, 0 4px 20px rgb(0, 0, 0, 0.1);
margin-left : auto;
margin-right : auto;
font-size : 12px;
padding : 40px 40px 20px 40px;
background-color : white;
}
.restmenuwrap h5 {
margin : 0;
font-size : 14px;
}
.restmenuwrap .rm-thumb {
width : 100px;
height : 100px;
background-position : center center;
float : left;
margin : 0 20px 0 0;
box-shadow : 1px 1px 3px rgb(0, 0, 0, 0.2) inset, 1px 1px 1px rgb(255, 255, 255, 0.1);
border-radius : 50%;
}
.restitem {
margin-bottom : 40px;
}
body {
font-size : 14px;
line-height : 1.42857143;
color : #333;
}
h2, h5 {
font-family : inherit;
font-weight : 500;
line-height : 1.1;
color : inherit;
}
.text-center {
text-align : center;
}
.container {
padding-right : 15px;
padding-left : 15px;
margin-right : auto;
margin-left : auto;
}
@media (min-width: 768px) {
.container {
width : 1170px;
}
}
.col-md-4 {
position : relative;
min-height : 1px;
padding-right : 15px;
padding-left : 15px;
}
@media (min-width: 768px) {
.col-sm-4 {
width : 33.33333333%;
}
}
@media (min-width: 992px) {
.col-md-4 {
float : left;
}
.col-md-4 {
width : 33.33333333%;
}
}
@media (min-width: 1200px) {
.row:before, .row:after {
display : table;
content : " ";
}
.row:after {
clear : both;
}
}