@charset "utf-8";
@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");


/*reservation
---------------------------------------------------------------------------------------------------------------*/
.imgSize{max-width:35%;margin-right:auto; margin-left:auto;display:block;}
.label  {font-size:15px;  margin-left:10%;}
#input2 input{margin-right:40%;  margin-left:40%; border-radius: 2px; border: 0.5px solid #000; }
#button {margin-right:45%;  margin-left:35%;border-radius: 2px; }
.buttonStyle{display:block; border-radius: 4px; border: 0.5px solid #ccc;  font-size:15px; margin-right:50%;  margin-left:20%; justify-content:center; width: 55%;}
#backgroundPhoto  {  float:left; margin-right: 1em; width:16%; position: relative; top: 9em; /* moves it down */ left: 3em; opacity:0.7; }
#backgroundPhoto2  {  float:right; margin-right: 1em; width:16%; position: relative; top: 9em; /* moves it down */ right: 3em; opacity:0.7;}
.wrapper .row3 img {border: 10em solid black; padding: 2px ;}
#table tr{ height:20%; }
#table th{background-color: white; padding:0.1px;  width:15%; height:15px; border-color:  #FFFFFF; }

table,th{border-color:white; border-collapse:collapse; vertical-align:top;}

/* Transition Fade*/
.row1 #logo ,.row2 *,.row3 *, .row5 *{transition:all .7s ease-in-out;}

/* Top Navigation */
#mainav  select{width:100%; padding:5px; border:none;}

input:focus, textarea:focus, *:required:focus{border-color:#000000 !important}